/* Contenedor principal del carrito */
.carrito-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado del carrito */
.carrito-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Lista de productos en el carrito */
.carrito-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

/* Elementos individuales del carrito */
.carrito-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative; /* Posición relativa para poder posicionar el botón de eliminación */
}

.carrito-item img {
    border-radius: 8px;
}

/* Contenedor de detalles del producto en el carrito */
.carrito-item-details {
    flex: 1;
    margin-left: 15px;
    position: relative;
}

/* Botón de eliminación ("X") */
.carrito-item .p-button-danger {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #ff4d4f;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.carrito-item .p-button-danger:hover {
    background-color: #ff7875;
}

/* Botón de checkout */
.p-button-success {
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 10px 20px;
}

/* Mensaje de carrito vacío */
.carrito-container div {
    font-size: 1.5rem;
    text-align: center;
    color: #888;
    margin-top: 40px;
}
.carrito-summary {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.carrito-summary p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.carrito-summary h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #333;
}
