.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d69b67;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .navbar-toggle {
    color: #000000;
  }
  
  .navbar-sidebar {
    background-color: #1c1c1c;
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-menu-item {
    color: #f4f4f4;
    font-size: 1.1rem;
    padding: 1rem;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu-item:hover {
    background-color: #2d2d2d;
  }